{% extends 'main/base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}

{% block extend_nav %} 

<ul class="sidenav">
  <li><a class="active" href="{% url 'main:home' %}">Home</a></li>
  <li><a href="{% url 'main:results' %}">Results</a></li>
</ul>

{% endblock %}


{% block content %}

<h3 id="map">Django Chuck Norris API Demo - Home</h3>

<div class="container">

	<form id="apiform" method="POST" action="/">
    {% csrf_token %}

    	<label for="username">Select category</label>
    	<select name="cat" id="cat">
    		<option selected value="">Select one</option>
    		{% for c in cats %}
		  	<option value="{{c}}">{{c|title}}</option>
		  	{% endfor %}
		</select>
	   

	   <button type="submit">Submit</button>
	</form>


</div>


{% endblock %}

{% block extend_footer %}




{% endblock %}